<div class="btn-group" role="group">
    <button class="btn btn-secondary" [disabled]="!canMoveToPreviousPage" (click)="moveToFirstPage()"><i class="fa fa-angle-double-left"></i></button>
    <button class="btn btn-secondary" [disabled]="!canMoveToPreviousPage" (click)="moveToPreviousPage()"><i class="fa fa-angle-left"></i></button>
    <button class="btn btn-secondary" disabled style="width:100px">{{pageIndex + 1}} / {{_pageCount}}</button>
    <button class="btn btn-secondary" [disabled]="!canMoveToNextPage" (click)="moveToNextPage()"><i class="fa fa-angle-right"></i></button>
    <button class="btn btn-secondary" [disabled]="!canMoveToNextPage" (click)="moveToLastPage()"><i class="fa fa-angle-double-right"></i></button>
  </div>